@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-brand: #3eaf7c;
  --c-brand-light: #4abf8a;
}

nav img {
  vertical-align: middle;
}

p img {
  margin: 0px auto;
}

.prose hr {
  border-top: 1px solid #e5e7eb;
}

.link {
  color: var(--c-brand);
}

.link:hover {
  color: var(--c-brand-light);
}

.header-anchor {
  display: none;
}

.prose :where(pre):not(:where([class~='not-prose'] *)) {
  background: transparent;
  position: relative;
  z-index: 1;
  line-height: 1.4;
  padding: 1.25rem 1.5rem;
  margin: 0.85rem 0;
  border-radius: 6px;
  overflow: auto;
}

body:not(.-light) pre code {
  margin: 0;
  color: #fff !important;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}

div[class*='language-'] {
  position: relative;
  background-color: #001318;
  border-radius: 6px;
}

div[class~='language-php']:before {
  content: 'php';
  position: absolute;
  z-index: 3;
  top: 0.8em;
  right: 1em;
  font-size: 0.75rem;
  color: #fff;
}

/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML.
 * Based on https://github.com/chriskempson/tomorrow-theme
 *
 * @author Rose Pritchard
 */
.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #e2777a;
}

.token.function {
  color: #6196cc;
}

.token.keyword {
  font-style: italic !important;
}

.token.boolean,
.token.number,
.token.function {
  color: #22d3ee;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #fff;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #e879f9;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #bef264;
}

.token.operator,
.token.entity,
.token.url {
  color: #67cdcc;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}

body:not(.-light) {
  background: #001e26;
  color: #eee;
}

body:not(.-light) p,
body:not(.-light) span:not(.token),
body:not(.-light) b,
body:not(.-light) i,
body:not(.-light) time,
body:not(.-light) li {
  color: #eee !important;
}

body:not(.-light) h1,
body:not(.-light) h2,
body:not(.-light) h3,
body:not(.-light) h4,
body:not(.-light) h5,
body:not(.-light) h6,
body:not(.-light) dd,
body:not(.-light) th,
body:not(.-light) td {
  color: #fff !important;
}

body:not(.-light) a:not([href='#']),
body:not(.-light) .green,
body:not(.-light) code {
  color: #3eaf7c !important;
}
